@{
    ViewBag.Title = "Home Page";
}

<main>
   
    <div class="text-center">
        <h1 class="display-4">Welcome to route optimizer</h1>
        <p>  @Html.ActionLink("Do you want to see optimized route? Proceed by clicking !!!", "Path", "ShortestPath", new { area = "" }, new { @class = "link-underline-primary" })</p>
    </div>
</main>